[submodule "solidity/foundry-fund-me-f23/lib/chainlink-brownie-contracts"]
	path = solidity/foundry-fund-me-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "solidity/foundry-fund-me-f23/lib/foundry-devops"]
	path = solidity/foundry-fund-me-f23/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
